<div class="container mt-5">
    <p class="text-primary">Filter By:</p>

    <div class="row g-3">
        <div class="col">
            <input type="text" (keyup)="filterByHospitalName()" [(ngModel)]="hospitalName" class="form-control" placeholder="Hospital Name" aria-label="Hospital Name">
        </div>
        <div class="col">
            <input type="date" class="form-control" placeholder="Start Date" aria-label="Start Date">
        </div>
        <div class="col">
            <input type="date" class="form-control" placeholder="End Date" aria-label="End Date">
        </div>
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Hospital ID</th>
                <th scope="col">Hospital Name</th>
                <th scope="col">New Borns</th>
                <th scope="col">Deaths</th>
                <th scope="col">Number of patients</th>
                <th scope="col">Covid Cases</th>
            </tr>
        </thead>

        <tbody *ngIf="!filtering">
            <tr *ngFor="let record of records">
                <th scope="row">{{record.hospitalId}}</th>
                <td>{{record.hospitalName}}</td>
                <td class="text-success font-weight-bold">{{record.newBornNumber}}</td>
                <td class="text-danger font-weight-bold">{{record.deathNumber}}</td>
                <td>{{record.numberOfPatientsServed}}</td>
                <td>{{record.coronaCases}}</td>
            </tr>
        </tbody>

        <tbody *ngIf="filtering">
            <tr *ngFor="let record of filteredRecords">
                <th scope="row">{{record.hospitalId}}</th>
                <td>{{record.hospitalName}}</td>
                <td class="text-success font-weight-bold">{{record.newBornNumber}}</td>
                <td class="text-danger font-weight-bold">{{record.deathNumber}}</td>
                <td>{{record.numberOfPatientsServed}}</td>
                <td>{{record.coronaCases}}</td>
            </tr>
        </tbody>
    </table>
</div>